

<div class="products">
    {{#each products}}
        <div class="product-container">
            <h2 class="products-title">{{title}}</h2>
            <p class="products-category">{{category}}</p>
            <p class="products-description">{{description}}</p>
            <p class="products-price">{{price}}</p>
        </div>
    {{/each}}
</div>
