

<div class="products">
    {{#each products}}
        <div class="product-container">
            <h2 class="products-title"><strong>Nombre: </strong>{{title}}</h2>
            <p class="products-category"><strong>Categoria: </strong>{{categoria}}</p>
            <p class="products-description"><strong>Descripcion: </strong>{{descripcion}}</p>
            <p class="products-price"><strong>Precio: </strong>{{precio}}</p>
        </div>
    {{/each}}
</div>
