
    <h2 class="form-title">
        Agregar Producto
    </h2>
    <form id="form-agregar" class="form-productos">
        <input type="text" id="title" placeholder="Nombre" required>
        <input type="text" id="descripcion" placeholder="Descripción" required>
        <input type="text" id="codigo" placeholder="Codigo" required>
        <input type="number" id="precio" placeholder="Precio" required>
        <input type="number" id="stock" placeholder="Stock" required>
        <input type="text" id="categoria" placeholder="Categoria" required>
        <button type="submit">Agregar</button>
    </form>

    <div id="productos-lista"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
